In [3]:
s = {0:1,1:2,2:3}

In [4]:
s

{0: 1, 1: 2, 2: 3}

In [5]:
d = {}

In [6]:
type(d)

dict

In [7]:
d = {2,3}

In [8]:
type(d)

set

In [9]:
d = {4:"sagar"}

In [10]:
d

{4: 'sagar'}

In [11]:
d = {1:"sagar",2:"prakash",3:"Giradkar"}

In [12]:
d

{1: 'sagar', 2: 'prakash', 3: 'Giradkar'}

In [13]:
d1 = {"key1":3434,"key2":43445,"key3":435435,"key4":"sagar"}

In [14]:
d1

{'key1': 3434, 'key2': 43445, 'key3': 435435, 'key4': 'sagar'}

In [15]:
d2 = {"key1":"value1","key2":"value2","key3":"value3"}

In [16]:
d2

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [20]:
d2["key1"]

'value1'

In [21]:
d2["key3"]

'value3'

In [22]:
d1["key4"]

'sagar'

In [23]:
d2 = {"key1":"value1","key2":"value2","key3":"value3","key4":[1,2,3,4,5,6,76,7,5,6,6]}

In [24]:
d2["key4"]

[1, 2, 3, 4, 5, 6, 76, 7, 5, 6, 6]

In [25]:
d = {3:[2,45.3,35.34,"sagar"],4:"pavan",45:"sds"}

In [26]:
d[4]

'pavan'

In [27]:
d[45]

'sds'

In [28]:
d[3]

[2, 45.3, 35.34, 'sagar']

In [29]:
type(d[3])

list

In [30]:
d = {"key1":(1,23,45,444,34,3,3,3,3,3)}

In [31]:
d["key1"]

(1, 23, 45, 444, 34, 3, 3, 3, 3, 3)

In [32]:
type(d["key1"])

tuple

In [36]:
d1 = {"key1":[2,3,2,3],"key2":"sagar","key3":24,"key3":24}

In [37]:
d1 ["key2"]

'sagar'

In [38]:
d1["key1"]

[2, 3, 2, 3]

In [39]:
d1["key3"]

24

In [41]:
d1 = {"key1":[1,2,3,4,5] , "key2":"sagar" ,"key1":34}

In [43]:
d1["key1"]

34

In [45]:
d1["key1"]

34

In [46]:
d1["key2"]

'sagar'

In [47]:
d1

{'key1': 34, 'key2': 'sagar'}

In [48]:
d

{'key1': (1, 23, 45, 444, 34, 3, 3, 3, 3, 3)}

In [49]:
d3 = {"*++":"sagar"}

In [50]:
d3["*++"]

'sagar'

In [51]:
d = {"name":"sagar","moNum":9168891192,"mail":"spgiradkar2002@gmail.com"}

In [52]:
d

{'name': 'sagar', 'moNum': 9168891192, 'mail': 'spgiradkar2002@gmail.com'}

In [53]:
d = {"name":"sagar","moNum":9168891192,"mail":"spgiradkar2002@gmail.com","key1":[1,2,3,4,5,5],"key2":(1,2,3,4,3,4,3,4,3)}

In [54]:
d

{'name': 'sagar',
 'moNum': 9168891192,
 'mail': 'spgiradkar2002@gmail.com',
 'key1': [1, 2, 3, 4, 5, 5],
 'key2': (1, 2, 3, 4, 3, 4, 3, 4, 3)}

In [55]:
d = {"name":"sagar","moNum":9168891192,"mail":"spgiradkar2002@gmail.com","key1":[1,2,3,4,5,5],"key2":(1,2,3,4,3,4,3,4,3),"key4":"pavan"}

In [56]:
d1

{'key1': 34, 'key2': 'sagar'}

In [57]:
d

{'name': 'sagar',
 'moNum': 9168891192,
 'mail': 'spgiradkar2002@gmail.com',
 'key1': [1, 2, 3, 4, 5, 5],
 'key2': (1, 2, 3, 4, 3, 4, 3, 4, 3),
 'key4': 'pavan'}

In [58]:
d.keys()

dict_keys(['name', 'moNum', 'mail', 'key1', 'key2', 'key4'])

In [59]:
d.values()

dict_values(['sagar', 9168891192, 'spgiradkar2002@gmail.com', [1, 2, 3, 4, 5, 5], (1, 2, 3, 4, 3, 4, 3, 4, 3), 'pavan'])

In [60]:
d.items()

dict_items([('name', 'sagar'), ('moNum', 9168891192), ('mail', 'spgiradkar2002@gmail.com'), ('key1', [1, 2, 3, 4, 5, 5]), ('key2', (1, 2, 3, 4, 3, 4, 3, 4, 3)), ('key4', 'pavan')])

In [62]:
d["name"]

'sagar'

In [63]:
d["key3"]="pavan"

In [64]:
d

{'name': 'sagar',
 'moNum': 9168891192,
 'mail': 'spgiradkar2002@gmail.com',
 'key1': [1, 2, 3, 4, 5, 5],
 'key2': (1, 2, 3, 4, 3, 4, 3, 4, 3),
 'key4': 'pavan',
 'key3': 'pavan'}

In [65]:
d["key3"]="sam"

In [66]:
d

{'name': 'sagar',
 'moNum': 9168891192,
 'mail': 'spgiradkar2002@gmail.com',
 'key1': [1, 2, 3, 4, 5, 5],
 'key2': (1, 2, 3, 4, 3, 4, 3, 4, 3),
 'key4': 'pavan',
 'key3': 'sam'}

In [67]:
del d["key3"]

In [68]:
d

{'name': 'sagar',
 'moNum': 9168891192,
 'mail': 'spgiradkar2002@gmail.com',
 'key1': [1, 2, 3, 4, 5, 5],
 'key2': (1, 2, 3, 4, 3, 4, 3, 4, 3),
 'key4': 'pavan'}

In [69]:
del d

In [70]:
d

NameError: name 'd' is not defined

In [71]:
d1 = {"key1":"sagar","key2":[4,5,6,7]}

In [72]:
d1

{'key1': 'sagar', 'key2': [4, 5, 6, 7]}

In [74]:
d1[(1,3,4,5)]="sham"

In [75]:
d1

{'key1': 'sagar', 'key2': [4, 5, 6, 7], (1, 3, 4, 5): 'sham'}

In [76]:
d1.get()

TypeError: get expected at least 1 arguments, got 0

In [77]:
d1.get("key1")

'sagar'

In [78]:
d1.get("a")

In [79]:
d1

{'key1': 'sagar', 'key2': [4, 5, 6, 7], (1, 3, 4, 5): 'sham'}

In [80]:
d1 = {"key1" : "sagar","key":"marya"}

In [81]:
d1

{'key1': 'sagar', 'key': 'marya'}

In [82]:
d2 = {"key2":232344,"key3":[1,2,3,4,5]}

In [83]:
d1.update(d2)

In [84]:
d1

{'key1': 'sagar', 'key': 'marya', 'key2': 232344, 'key3': [1, 2, 3, 4, 5]}

In [85]:
d2

{'key2': 232344, 'key3': [1, 2, 3, 4, 5]}

In [86]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [88]:
d1.pop("key1")

'sagar'

In [89]:
d1

{'key': 'marya', 'key2': 232344, 'key3': [1, 2, 3, 4, 5]}

In [90]:
d1.pop("key")

'marya'

In [91]:
d1

{'key2': 232344, 'key3': [1, 2, 3, 4, 5]}

In [92]:
d1.get("key2")

232344

In [93]:
d1.clear()

In [94]:
d1

{}

In [95]:
key = ("name","mobNo","email")
value ="sagar"

In [97]:
d =d1.fromkeys(key,value)

In [98]:
d

{'name': 'sagar', 'mobNo': 'sagar', 'email': 'sagar'}

d = {_3:1234}